html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  font-size: 10px;
}

.titleContainer {
  width: 100%;
  height: 5%;
  background: #232323;
}

.title {
  color: white;
  font-size: 12px;
  position: relative;
  margin: 0;
  text-align: center;
  line-height: 35px;
}


.sideBar {
  width: 20%;
  height: 90%;
  display: inline-table;
  cursor: pointer;
  position: relative;
  background: #232323;
}

input {
  width: 100%;
  height: 2rem;
  font-size: 1rem;
  background-color: floralwhite;
}

.venueList {
  overflow: scroll;
  background-color: #232323;
  margin: 0;
  padding: 5px;
  color: #fff;
  max-height: 96%;
}

ol li {
  list-style-type: none;
  font-size: 0.8rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

#map {
  width: 80%;
  height: 90%;
}

.footerContainer {
  width: 100%;
  height: 5%;
  background: #232323;
  color: white;
  text-align: center;
  font-size: 0.9em;
  position: relative;
  bottom: 0;
}

@media only screen and (max-width: 550px) {
  #map {
    width: 100%;
    height: 70%;
  }

  .sideBar {
    width: 100%;
    height: 30%;
  }

  ol li {
    font-size: 10px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .title {
    font-size: 12px;
    letter-spacing: 5px;
  }

  .contribution {
    font-size: 7px;
    float: right;
  }
}

@media only screen and (min-width: 750px) and (max-width: 1200px) {
  .title {
    font-size: 25px;
    line-height: 55px;
  }
}
